h1,
h2 {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: sans-serif;

}

form {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

textarea {
  width: 48%;
  height: 1000px;
  float: left;
}
